body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link-container:first-child .nav-link {
  color: #404bbf;
}

.web-studio-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-studio-logo-header {
  margin-right: 76px;
}

.web-studio-logo-part-header {
  color: #2e2f42;
  font-family: inherit;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  background-color: #404bbf;
}

.address-list-item {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.section-hero {
  display: flex;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;

  padding: 188px 0;
}

.hero-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.button-order {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

/* #region Our Benefits */
.benefits-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.benefits-list-item {
  display: flex;
  flex-direction: column;
  max-width: 264px;
}

.benefits-icon-container {
  display: flex;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.benefits-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.section-benefits {
  background-color: #ffffff;
}
/* #endregion Our Benefits */

/* #region Our Team */

.team-container {
  display: flex;
  flex-direction: column;
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.team-member {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-main-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-member-descr {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  justify-content: center;
  align-items: center;
}

.team-member {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-desc {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-social-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-icon-container {
  width: 40px;
  height: 40px;
}

.team-social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-social-icon-link:hover,
.team-social-icon-link:focus {
  background-color: #404bbf;
}

.section-team {
  background-color: #f4f4fd;
}

/* #endregion Our Team */

/* #region Portfolio */

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-list-item-overlay-text {
  transform: translateY(0);
}

.portfolio-list-item-descr {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-desc {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-portfolio {
  background-color: #ffffff;
}
/* #endregion Portfolio */

/* #region background-color */

/* #endregion background-color */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.web-studio-logodescr {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.web-studio-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.web-studio-logo-footer-part {
  color: #f4f4fd;
  font-family: inherit;
}

.web-studio-logodescr-text {
  color: #f4f4fd;
  line-height: 150%;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-media-container {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-icons-list {
  display: flex;
  gap: 16px;
}

.footer-social-icon-container {
  width: 40px;
  height: 40px;
}

.footer-social-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-container {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-form-label {
  display: flex;
}

.footer-subscribe-label-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}

.footer-subscribe-input::placeholder {
  color: #fff;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 165px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button-icon {
  fill: white;
  margin-left: 16px;
}

.footer-subscribe-button:hover {
  background-color: #404bbf;
}

.overlay-order {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.overlay-order-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-order-close-button:hover,
.overlay-order-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.overlay-order-close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-order-close-button-icon:hover,
.overlay-order-close-button-icon:focus {
  fill: #ffffff;
}

.order-modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.order-modal-input-main-container {
  margin-bottom: 8px;
}

.order-modal-input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.order-modal-input-container {
  position: relative;
}

.order-modal-label-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-label-input:focus {
  border-color: #4d5ae5;
}

.order-modal-label-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-label-input:focus + .order-modal-label-input-icon {
  fill: #4d5ae5;
}

.order-modal-input-textarea {
  margin-bottom: 16px;
}

.order-modal-input-textarea-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-input-textarea-field:focus {
  border-color: #4d5ae5;
}

.order-modal-input-checkbox-container {
  margin-bottom: 24px;
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.order-modal-input-checkbox:checked + .modal-checkbox-text .modal-user-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-user-privacy {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-user-privacy-link {
  color: #4d5ae5;
}

.order-modal-button {
  display: block;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
  margin-left: auto;
}

.order-modal-button:hover,
.order-modal-button:focus {
  background-color: #404bbf;
}
