/* #region styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.web-studio-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* #endregion styles */
/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  height: 56px;
}

.header-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link-container:first-child .nav-link {
  color: #404bbf;
}

/* .web-studio-logo-header {
  margin-right: 76px;
} */

.web-studio-logo-part-header {
  color: #2e2f42;
  font-family: inherit;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  background-color: #404bbf;
}

.address-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.address-list-item {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
  color: #404bbf;
}

.header-menu {
  display: flex;
  position: fixed;
  padding-right: 16px;
  padding-left: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-menu-container {
  background-color: #fff;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-menu-icon {
  fill: '#2F2F37';
}

.header-menu-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.header-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-close:hover,
.header-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.header-menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-close-icon:hover,
.header-menu-button-icon:focus {
  fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-links {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav .current {
  color: #404bbf;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-list-item {
  color: #434455;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-list-item:hover,
.mobile-address-list-item:focus {
  color: #404bbf;
}

.header-menu-social-icons-list {
  display: flex;
  gap: 40px;
}

.header-menu-social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.header-menu-social-icon {
  fill: #f4f4fd;
}
/* #endregion Header */
/* #region Header menu */

/* #endregion */
/* #region Hero */
.section-hero {
  display: flex;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  padding: 72px 0;
}

.hero-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin-bottom: 72px;
}

.button-order {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-order:hover,
.hero-button-order:focus {
  background-color: #404bbf;
}
/* #endregion Hero */
/* #region Benefits */
.benefits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  max-width: 100%;
}

.benefits-list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.benefits-icon-container {
  display: flex;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.benefits-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.section-benefits {
  background-color: #ffffff;
}

/* #endregion Benefits */
/* #region Team */
.team-container {
  display: flex;
  flex-direction: column;
}

.team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-member {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: 264px;
}

.team-main-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-member-descr {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  justify-content: center;
  align-items: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-desc {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-social-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-icon-container {
  width: 40px;
  height: 40px;
}

.team-social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-social-icon-link:hover,
.team-social-icon-link:focus {
  background-color: #404bbf;
}

.section-team {
  background-color: #f4f4fd;
}
/* #endregion Team */
/* #region Portfolio */
.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-list-item-overlay-text {
  transform: translateY(0);
}

.portfolio-list-item-descr {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-desc {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-portfolio {
  background-color: #ffffff;
}
/* #endregion Portfolio */
/* #region Footer */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 72px;
}

.web-studio-logodescr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web-studio-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.web-studio-logo-footer-part {
  color: #f4f4fd;
  font-family: inherit;
}

.web-studio-logodescr-text {
  margin-right: auto;
  margin-left: auto;
  color: #f4f4fd;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
}

.footer-social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-icons-list {
  display: flex;
  gap: 16px;
}

.footer-social-icon-container {
  width: 40px;
  height: 40px;
}

.footer-social-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-form-label {
  display: flex;
}

.footer-subscribe-label-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  opacity: 0.6;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
}

.footer-subscribe-button-icon {
  fill: white;
}

.footer-subscribe-button:hover {
  background-color: #404bbf;
}
/* #endregion */
/* #region Order overlay */
.overlay-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.overlay-order.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.overlay-order-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 288px;
  max-height: 640px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 72px 24px 24px 16px;
  overflow-y: hidden;
}

.overlay-order-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-order-close-button:hover,
.overlay-order-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.overlay-order-close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-order-close-button-icon:hover,
.overlay-order-close-button-icon:focus {
  fill: #ffffff;
}

.order-modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.order-modal-input-main-container {
  margin-bottom: 8px;
}

.order-modal-input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.order-modal-input-container {
  position: relative;
}

.order-modal-label-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-label-input:focus {
  border-color: #4d5ae5;
}

.order-modal-label-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-label-input:focus + .order-modal-label-input-icon {
  fill: #4d5ae5;
}

.order-modal-input-textarea {
  margin-bottom: 16px;
}

.order-modal-input-textarea-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-input-textarea-field:focus {
  border-color: #4d5ae5;
}

.order-modal-input-checkbox-container {
  margin-bottom: 24px;
  display: inline-flex;
  justify-content: start;
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: center;
}

.order-modal-input-checkbox:checked + .modal-checkbox-text .modal-user-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* .order-modal-input-checkbox:hover + .modal-checkbox-text .modal-user-privacy {
  cursor: pointer;
} */

.modal-user-privacy {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  position: relative;
  line-height: 133%;
}

.modal-user-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.order-modal-button {
  display: block;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
  margin-left: auto;
}

.order-modal-button:hover,
.order-modal-button:focus {
  background-color: #404bbf;
}

/* #endregion */
@media (max-width: 767px) {
  .benefits-title {
    text-align: center;
  }
  .nav-links {
    display: none;
  }
  .address-list {
    display: none;
  }
}
@media (max-width: 1439px) {
  .benefits-icon-container {
    display: none;
  }
  .benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
  }
}
/* #region (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    height: 72px;
  }
  .header-menu-button {
    display: none;
  }

  .web-studio-logo-header {
    margin-right: 120px;
  }
  .hero-main-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .team-members {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-content {
    column-gap: 24px;
    align-items: stretch;
  }
  .web-studio-logodescr {
    max-width: 264px;
    align-items: flex-start;
  }
  .footer-subscribe-container {
    align-items: first baseline;
  }
  .footer-subscribe-form {
    flex-direction: row;
  }
}
/* #endregion */

/* #region (min-width: 768px) and (max-width: 1439px) */
@media (min-width: 768px) and (max-width: 1439px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
    align-self: center;
    justify-self: center;
  }
  .address-list-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }
  .benefits-list-item {
    max-width: 356px;
  }
  /* .team-container {
    padding-left: 108px;
    padding-right: 108px;
  } */
  .team-member {
    flex-basis: calc((100% / 2) -24px);
  }
  .portfolio-list-item {
    max-width: calc((100% - 24px) / 2);
  }
  .footer-content {
    justify-content: center;
  }
  .footer-social-media-text {
    align-self: flex-start;
  }
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 108px;
    margin: 0 auto;
  }
  .overlay-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  .overlay-order-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    height: 584px;
    overflow-y: auto;
  }
}
/* #endregion */

/* #region (min-width: 1440px) */
@media (min-width: 1440px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-hero {
    max-width: 1440;
  }
  .benefits-list {
    flex-direction: row;
  }
  .benefits-list-item {
    max-width: 264px;
  }
  .portfolio-list {
    max-width: 1128px;
  }
  .portfolio-list-item {
    max-width: calc((100% - 48px) / 3);
  }
  .page-footer {
    padding: 100px;
    gap: 0;
  }
  .footer-content {
    flex-direction: row;
    gap: 0;
  }
  .web-studio-logodescr {
    margin-right: 120px;
  }
  .footer-social-media-container {
    margin-right: 80px;
  }
  .footer-social-media-text {
    align-self: flex-start;
  }
  .overlay-order {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay-order-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
/* #endregion */
